name: Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Configure JFrog CLI
        uses: jfrog/setup-jfrog-cli@v3
        with:
          version: latest
        env:
          JFROG_CLI_OFFER_CONFIG: false
          JFROG_CLI_LOG_LEVEL: INFO
          JFROG_CLI_BUILD_NAME: Build
          JF_URL: ${{ secrets.JFROG_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JFROG_TOKEN }}

      - name: Upload JAR to JFrog
        run: jf rt u "build/libs/*.jar" "petjfrog-repo/"
