name: Sonar Scan

on:
  workflow_call:

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          # Set the branch name (default to main if not provided)
          # BRANCH_NAME=${GITHUB_HEAD_REF:-main}
          echo "Scanning branch: $BRANCH_NAME"

          mvn sonar:sonar \
            -Dsonar.projectKey=devSecOps \
            -Dsonar.organization=satinderkaura348-ops \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=$SONAR_TOKEN \
            -Dsonar.branch.name=main

