# .github/workflows/test.yml
name: Test

on:
 workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Run Maven tests
      - name: Run Unit Tests
        run: ./mvnw test

      - name: Upload Test Results h
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: target/test-classes/TEST-*.xml
